body{
background-color:#c0c0c0;
}


div.navigation{
background-color:#88c546;
margin:-7px -10px;
padding:1px;
}


nav a{
color:#ffffff;
background-color:#88c546;
margin:0px;
text-decoration:none;
padding:9px 14px;
}

nav a:hover{
background-color:#c8302d;
border-radius:5px;

}

nav ul li{
display:inline;
}

img.main{
width:380px;
}

form{
margin:16px;
padding:16px;
background-color:#ffffff;
}

h1, h3, h5, p{
color:#336699;
margin: 16px;
}

form h1{
text-align:center;
}